* {
    --general: #B6D8F2;
    --nsfw: #ff4d43;
    --ad: #e36387;
}

.bg {
    --color: white;
    background-color: var(--color);
}

.c {
    --color: black;
    color: var(--color);
}

.red {
    --color: #ff1a1a;
}

.blue {
    --color: #1a8dff;
}

.orange {
    --color: #ff7f00;
}

.green {
    --color: #89e200;
}

.gray {
    --color: rgb(196, 196, 196);
}

.general {
    --color: var(--general);
}

.nsfw {
    --color: var(--nsfw);
}

.ad {
    --color: var(--ad);
}

.accent-0 {
    --color: var(--accent-0);
}

.accent-1 {
    --color: var(--accent-1);
}

.accent-2 {
    --color: var(--accent-2);
}

.secondary-0 {
    --color: var(--secondary-0);
}

.secondary-1 {
    --color: var(--secondary-1);
}