* {
    --accent-0: #d9a566;
    --accent-1: #d9309e; 
    --accent-2: #4a1fa6;

    --secondary-0: #4a1fa6;
    --secondary-1: #0583f2;
}

html, body {
    font-family: 'SF UI Text Regular', sans-serif;
    scroll-behavior: smooth;
    /* font-size: 97%; */
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.box {
  border-radius: 8px;
  box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
}

.box > .card-header {
  font-weight: medium;
/*  font-family: 'Cascadia Code', monospace;*/
  color: white;
  background-color: #353839;
  border: none;
}

.box > .card-footer::before {
  content: 'Add me easily with (click to copy): ';
}

.theme {
    background-color: var(--accent-1);
}

.container.bar, .container-fluid.bar {
    font-size: 0.90em;
    padding: 10px;
    text-align: center;
}

.darkish {
    color: #353839 !important;
}

.bg-darkish {
    background-color: #353839;
    color: lightgray;
}

.navbar {
/*    background-color: rgba(255, 255, 255, 0.9);*/
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.preview {
    padding: auto;
    width: 100%;
    filter: drop-shadow(0 0 0.75rem black);
}

.desc {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .desc {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .left {
        text-align: right;
        
    }
    
    .preview {
        max-width: none;
    }
}
