$accent-0: #947bd3;
$accent-1: #f26caf;
$accent-2: #5e4ae3;


.accent-0 {
    color: $accent-0;
}

.accent-1 {
    color: $accent-1;
}

.accent-2 {
    color: $accent-2;
}

.bg-accent-0 {
    background-color: $accent-0;
}

.bg-accent-1 {
    background-color: $accent-1;
}

.bg-accent-2 {
    background-color: $accent-2;
}