@import 'colors';

html, body {
    height: 100%;
    width: 100%;
}

.btn {
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn + .btn {
    margin-left: 10px;
}


.btn-primary {
    color: #fff;
    background-color: $accent-1;
    border-color: $accent-1;

    &:hover {
        color: #fff;
        background-color: darken($color: $accent-1, $amount: 10%);
        border-color: darken($color: $accent-1, $amount: 10%);
    }
}


.btn-outline-secondary {
    color: #000000;
    border-color: #aeb3b8;
}

.btn-outline-secondary:hover {
    color: #000000;
    border-color: #5a5e61;
    background-color: transparent;
}