* {
    --accent-0: #d9a566;
    --accent-1: #d9309e; 
    --accent-2: #4a1fa6;

    --secondary-0: #4a1fa6;
    --secondary-1: #0583f2;
}

html, body {
    font-family: 'Inter', sans-serif;
    /* font-size: 97%; */
}

.btn {
    border-radius: 20px !important;
    margin-bottom: 10px;
}

.btn-lg {
    border-radius: 50px !important;
} 

.btn-accent-1, .btn-outline-accent-1:hover, .bg-accent-1 {
    color: var(--light);
    background-color: var(--accent-1);
}

.btn-outline-accent-1 {
    color: var(--accent-1);
    border-color: var(--accent-1);
}

.btn-secondary-1, .btn-outline-secondary-1:hover {
    color: var(--light);
    background-color: var(--secondary-1);
}

.btn-outline-secondary-1 {
    color: var(--secondary-1);
    border-color: var(--secondary-1);
}


#main {
    background: rgb(217,165,102);
    background: linear-gradient(rgba(217,165,102,1) 0%, rgba(217,48,158,1) 50%, rgba(74,31,166,1) 100%);
}

#main {
    min-height: 100vh;
}

@media (min-width: 768px) {
    #main {
        min-height: 50vh;
        background: rgb(217,165,102);
        background: linear-gradient(90deg, rgba(217,165,102,1) 0%, rgba(217,48,158,1) 50%, rgba(74,31,166,1) 100%);
    }

    .btn {
        margin-bottom: 0;
    }
}
